<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="watchedProcesses" value="devenv,outlook,notepad" />
    <add key="mp3File" value="Spadlo to.mp3" />
    <add key="sharedDirPath" value="\\bbfilecz\Every" />
  </appSettings>
</configuration>